<% if @results %>
	<% @results.each do |result| %>
		<h3><%= @message %><a href="/movies/<%= result['id'] %>"><%= result['title'] %> (<%= result['year'] %>)</a></h3>
		<img src="<%= result['posters']['profile'] %>" />
		<ul>
			<li><%= result['abridged_cast'].map{|c| c['name']}.join(', ') %></li>
			<li><%= result['mpaa_rating'] %></li>
			<li><%= "#{result['runtime']} min" %></li>
		</ul>
	<% end %>
<% else %>
	Nothing matches your search!
<% end %>


