<!DOCTYPE html>
<html>
<head>
  <title>RtApiExample</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Rotten Tomatoes API</h1>

  <h3 style="color:gray">Welcome to the best Rotten Tomatoes API site in the world! Go on, search for something!</h3>

  <%= render 'rt_api/search_form' %>

  <%= yield %>
</body>
</html>
